div.alert {
    border-radius: 10px;
    margin: 0;
    padding: 20px;
    font-weight: bold;
    font-size: 1.2em;

    h2 {
        padding: 0;
        padding-bottom: 4px;
        margin: 0;
        font-size: 1.8em;
    }

    @media (max-width: $on-small) {
        margin-left: -20px;
        margin-right: -20px;
        border-radius: 0;
        font-size: 1em;

        h2 {
            font-size: 1.3em;
        }
    }

}

div.alert.warn{
    background-color: khaki;
    border: solid 1px rgb(226, 213, 93);
}
