html,
body {
  height: 100%;
}

body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  color: var(--color-text);
  font-family: 'Lato',Helvetica Neue,Arial,Sans-serif;
  font-size: 1.6rem;
}

body p {
  text-align: justify;
}

.typography h1 {
    position: relative;
    left: -3px;
    font-weight: 300;
    font-size: 4em;
    color: #1b1b1b;
    margin: 0.5em 0 0.5em 0;
}

.typography h1, h2, h3 {
    font-family: 'ITC Avant Garde Gothic Std Book', sans-serif;
    overflow-wrap: break-word;
}

.typography h2 {
    position: relative;
    left: -2px;
    font-weight: 300;
    font-size: 3em;
    color: #1b1b1b;
    margin: 1em 0 0.5em 0;
}

.typography h3 {
    position: relative;
    left: -2px;
    font-weight: 300;
    font-size: 2em;
    color: #1b1b1b;
    margin: 1em 0 0.5em 0;
}

.typography p {
    line-height: 1.5em;
    margin: 1em 0;
    font-size: 1.15em;
}

.typography ul,ol {
    font-size: 1.15em;
}

.typography a {
    color: $color_link;
    text-decoration: none;
}

.typography a:hover {
    text-decoration: underline;
}

.typography dl.specs {
    line-height: 1.5em;
    margin: 1em 0;
    border-bottom: 1px solid #eee;
}

.typography dl.specs dt {
    float: left;
    width: 100px;
    padding: 10px 0;
    border-top: 1px solid #eee;
}

.typography dl.specs dd {
    margin-left: 100px;
    padding: 10px 0 10px 10px;
    border-top: 1px solid #eee;
}

.typography img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p.abstract {
    font-style: italic;
}

@media screen and (max-width: $on-medium) {
    .typography h1 {
        font-size: 35px;
    }
    
    .typography h2 {
        font-size: 32px;
    }
    
    .typography h3 {
        font-size: 28px;
    }    
}