node_modules
_site
.env
tmp*/
.cache/
_output
# Digitale handtekening: de private key mag nooit naar het repository
# (het publieke certificaat wél: dat wordt openbaar beschikbaar gesteld)
_scripts/certs/*.key
