---
layout: main
title: 'VUB Diving Center'
subtitle: 'Science, Water & Bubbles'
background: default.jpg
header_large: true
---
<h2 class="subtitle">Welkom op de VDC website!</h2>

<div class="jumbotron">
    <strong>Duikopleiding of groepsactiviteit?</strong><br/>
    Interesse of meer informatie nodig? Bezoek nu onze pagina's<br/>
    <div class="btn-group">
        <a class="btn btn-primary" href="/education">
            Duikopleiding
        </a>
        <a class="btn btn-green" href="/activity">
            Groepsactiviteit
        </a>
    </div>
</div>

<p class="description">
    Als je ooit gesnorkeld hebt dan heb je waarschijnlijk ver onder je de prachtige koralen gezien. Maar lijkt het bij de documentaires niet allemaal zoveel dichter bij? Als duiker kom je immers korter bij alles wat er leeft en beweegt.
    Bij onze duikclub kan je een opleiding volgen om samen met ons de prachtige onderwaterwereld te verkennen. Eens volledig ingeschreven doen we elke <b>vrijdag</b> van <b>19u45 tot 21u</b> een duiktraining in het <a href="https://www.vub.be/nl/services-vub-campuses-in-etterbeek-and-jette/sports-vub/vub-sports-activities-fitness-sports-and-games/vub-zwembad" target="_blank">zwembad van de Vrije Universiteit Brussel</a>.
    Begint het al wat te kriebelen om meer te weten? Lees dan zeker <a href="/education">hier</a> verder over onze opleiding.
</p>

{% set maxPosts = collections.posts.length | min(3) %}
{% set postslist = collections.posts | after() | head(-3) %}
{% if postslist.length > 0 %}
<h2>Nieuws</h2>
{% include "postslist.njk" %}
{% endif %}

<h3>Gesubsidiëerd door:</h3>
<a href="https://www.sportinbrussel.be/">
    <img class="sponsor-image" alt="sport in brussel logo" src="/images/misc/logo_sportinbrussel.svg"/>
</a>