---
layout: default.njk
permalink: /posts/
title: 'Nieuws'
eleventyNavigation:
    key: Nieuws
    parent: Leden
    order: 1
---

<div class="container main">
  <div class="row">
    <div class="col-sm-7 typography">
        <div class="btn-group">
          <a class="btn btn-orange" target="_blank" href="feed://www.vubdivingcenter.be/feed.xml"><i class="fa fa-solid fa-rss"></i> Abonneren</a>
        </div>
        {% set postslist = collections.posts %}
        {% include "postslist.njk" %}
    </div>
  </div>
</div>