<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <title>Ledenkaart VDC</title>
</head>
<body style="font-family: Arial, sans-serif; color: #222; background: #fff;">
  <p>Beste <%= firstName %> <%= lastName %>,</p>
  <p>
    Welkom bij het VUB Diving Center!
  </p>
  <p>
    In bijlage kan je je VDC lidmaatschapsvignet vinden. Dit is tegelijkertijd ook het bewijs van verzekering.<br>
    Om geldig te zijn, moet het worden ingevuld door een arts. Breng dit dan ook zo snel mogelijk in orde!
  </p>
  <p>
    Bij problemen met het lidmaatschapsvignet, kan je steeds contact opnemen met ons (<a href="mailto:info@vubdivingcenter.be">info@vubdivingcenter.be</a>).
  </p>
  <p>
    Kijk ook even na of je via je ziekteverzekering een terugbetaling krijgt voor sport. We houden op enkele vooraf aangekondigde tijdstippen een stempelmoment
    na de training. Om een stempel te krijgen voor je ziekteverzekering moet je je ingevuld lidmaatschapsvignet meebrengen.
  </p>
  <p>
    Met vriendelijke groeten,<br>
    De Raad van Bestuur<br>
    VUB Diving Center vzw<br>
    Triomflaan 40<br>
    1160 Oudergem<br>
    België
  </p>
</body>
</html>
