.typography {
    .btn {
        max-width: 220px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        text-decoration: none;
        border-radius: 5px;
    }

    @media (max-width: $on-small) {
        .btn {
            padding-left: 12px;
            padding-right: 12px;
        }
    }

    .btn i {
        margin-right: 8px;
    }

    .btn-icon i {
        margin-left: 4px;
        margin-right: 4px; 
    }

    .btn-red {
        background-color: #9c0000;
        color: white;
    }
    .btn-red:hover {
        background-color: #c20404;
    }

    .btn-green {
        background-color: #009c08;
        color: white;
    }
    .btn-green:hover {
        background-color: #04c20e;
    }

    .btn-blue {
        background-color: #00569c;
        color: white;
    }
    .btn-blue:hover {
        background-color: #044dc2;
    }

    .btn-yellow {
        background-color: #c5da08;
        color: black;
    }
    .btn-yellow:hover {
        background-color: #c2bf04;
    }

    .btn-orange {
        background-color: #c78813;
        color: white;
    }
    .btn-orange:hover {
        background-color: #e4a737;
    }

    .btn-grey {
        background-color: #2e2e2e;
        color: white;
    }
    .btn-grey:hover {
        background-color: #393939;
    }

    .btn-primary {
        background-color: $primary_color;
        color: white;
    }
    .btn-primary:hover {
        background-color: lighten($primary_color, 10%);
    }

    .btn-secondary {
        background-color: $secondary_color;
        color: white;
    }
    .btn-secondary:hover {
        background-color: lighten($secondary_color, 10%);
    }

    .dropdown {
		position: relative;
		display: inline-block;
	}

	.dropdown-toggle {
		background-color: #6c757d;
		color: white;
		border: none;
		padding: 10px 20px;
		font-size: 16px;
		cursor: pointer;
	}

	.dropdown-toggle:focus {
		outline: none;
	}

	.dropdown-menu {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}

	.dropdown-menu a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}

	.dropdown-menu a:hover {
		background-color: #f1f1f1;
	}

	.dropdown:hover .dropdown-menu {
		display: block;
	}

	.dropdown:hover .dropdown-toggle {
		background-color: #5a6268;
	}
}