table.documents {
    width: 100%;
    border-collapse: collapse;
}

table.documents thead {
    background-color: $primary_color;
    color: white;
}

table.documents tbody tr:nth-child(even) {
    background-color: lightgray;
}

table.documents th,
table.documents td {
    padding: 10px;
    border: none;
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    text-align: left;
}

table.documents td.bold {
    font-weight: bold;
}

@media (max-width: $on-small) {
    table.documents th.optional,
    table.documents td.optional {
        display: none;
    }
}