<div class="typography">
  <div class="btn-group">
    <a class="btn btn-orange" target="_blank" href="feed://www.vubdivingcenter.be/feed.xml"><i class="fa fa-solid fa-rss"></i> Abonneren</a>
  </div>
</div>
<nav class="navigation">
  <h3>Recente berichten</h3>
  <ul>
    {% for post in collections.posts | reverse | head(5) %}
      <li {% if page.url == post.url %}class="selected"{% endif %}>
        <a href="{{ post.url }}" {% if page.url == post.url %}class="current"{% endif %}>{{ post.date | readableDate }}</a>
      </li>
    {% endfor %}
  </ul>
  <p><a href="/posts/">Alle berichten &raquo;</a></p>
</nav>
