<header{% if header_large %} class="large"{% elif header_small %} class="small"{% endif %}>
  <div class="header-image">
    <picture>
      {% if background and 'https://lh3.googleusercontent.com' in background %}
        <source media="(min-width:1600px)" srcset="{{ background }}=w2000">
        <source media="(min-width:1440px)" srcset="{{ background }}=w1600">
        <source media="(min-width:1024px)" srcset="{{ background }}=w1248">
        <source media="(min-width:812px)" srcset="{{ background }}=w1024">
        <source media="(min-width:100px)" srcset="{{ background }}">
        <img alt="{{ title }} {{ subtitle }}" referrerpolicy="no-referrer" src="/images/background/default.jpg">
      {% else %}
        <img alt="{{ title }} {{ subtitle }}" referrerpolicy="no-referrer" src="/images/background/{{ background if background else 'default.jpg' }}">
      {% endif %}
    </picture>
    <div class="wave">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 800 60" xml:space="preserve" preserveAspectRatio="none">
        <path style="fill:#FFFFFF" d="M-144.5,9.5c0,0,216.7,68,594.4,20.5s476.6,16.9,476.6,16.9l23,71.6l-1094-6.9"/>
      </svg>
    </div>
  </div>
  
  <nav>
    <a href="/" class="logo"></a>

    <input type="checkbox" id="nav-trigger" class="nav-trigger" onclick="openNav()" />
    <label for="nav-trigger">
      <span class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z"/>
        </svg>
      </span>
    </label>

    <div class="trigger">
      {%- for nav in collections.all | eleventyNavigation -%}
        {% if nav.children.length > 0 %}
          {% set active = false %}
          {%- for link in nav.children -%}
            {% if link.url == page.url %}
              {% set active = true %}
            {% endif %}
          {%- endfor -%}
          <div class="dropdown page-link {% if active %}active{% endif %}">
            <button class="dropbtn">{{ nav.key }}
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              {%- for link in nav.children -%}
                <a class="dropdown-link {% if link.url == page.url %}active{% endif %}" href="{{ link.url }}">{{ link.key }}</a>
              {%- endfor -%}
            </div>
          </div>
        {% else %}
          <a class="page-link {% if nav.url == page.url %}active{% endif %}" href="{{ nav.url }}">{{ nav.key }}</a>
        {% endif %}
      {%- endfor -%}
    </div>

    <h1>{{ site_title if site_title else title }}</h1>
    {% if header_large %}
    <h2 class="subtitle">{{ subtitle }}</h2>
    {% endif %}
  </nav>
</header>