<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo "" %}
    <meta name="keywords" content="vub, diving, duiken, vubdivingcenter, diepzeeduiken, scuba, vrije universiteit brussel, etterbeek, opleiding, duikintiatie, groepsactiviteit, teambuilding, brussel, training vrijdag" />

    <link href="https://fonts.cdnfonts.com/css/itc-avant-garde-gothic-std-book" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css?version=20230921">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <link type="application/atom+xml" title="VUB Diving Center Nieuws" rel="alternate" href="{% canonicalURL '/feed.xml' %}" title="{{ site.title }}" >

    {% favicon './images/favicon.svg' %}
    <meta name="theme-color" content="#000d31">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152723402-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-152723402-1');
    </script>
</head>
