<aside id="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <ul>
    {%- for nav in collections.all | eleventyNavigation -%}
    {% if nav.children.length > 0 %}
        {% set active = false %}
        {%- for link in nav.children -%}
        {% if link.url == page.url %}
            {% set active = true %}
        {% endif %}
        {%- endfor -%}
        <li class="nested">
            {{ nav.key }}
            <ul {% if active %}class="active"{% endif %}>
                {%- for link in nav.children -%}
                <li {% if link.url == page.url %}class="active"{% endif %}>
                    <a href="{{ link.url }}">{{ link.key }}</a>
                </li>
                {%- endfor -%}
            </ul>
        </li>
    {% else %}
        <li {% if nav.url == page.url %}class="active"{% endif %}>
            <a href="{{ nav.url }}">{{ nav.key }}</a>
        </li>
    {% endif %}
    {%- endfor -%}
    </ul>
</aside>