.typography {
    img.inline {
        margin: 5px 0 20px 20px;
    }

    img.left {
        float: left;
    }
    
    img.right {
        float: right;
    }

    @media (max-width: $on-small) {
        img.inline {
            margin-left: auto;
            margin-right: auto;
            float: none;
        }
    }
}
