---
layout: main
title: (Her)inschrijving (DEV)
eleventyExcludeFromCollections: true
---

<h2 class="subtitle">Lidjaar {{ vdc.lidjaar.start }} - {{ vdc.lidjaar.einde }}</h2>

<div class="alert warn">
  <h2><i class="fa-solid fa-flask"></i> Ontwikkelingsformulier</h2>
  <p>Dit is het ontwikkelingsformulier. Het is steeds beschikbaar, onafhankelijk van de inschrijvingsperiode.</p>
</div>

{%- include "registration_form.njk" -%}
