---
layout: main
title: (Her)inschrijving
background: https://lh3.googleusercontent.com/aNaGYxdnZv_epyqtzYRAYDMyFuSm8mR4Y5LXHbirsfbtsitfVbog5G0eICOxIdZkDvP7w7Sz3xsj5OClVrhFGDREH0zk7WAYiueDVYzAxcHdJ-pd6_JBvg22ZDjE53SCpRfSvbwOG6o
eleventyNavigation:
    key: Inschrijvingsformulier
    parent: Inschrijven
    order: 1
---

<h2 class="subtitle">Lidjaar {{ vdc.lidjaar.start }} - {{ vdc.lidjaar.einde }}</h2>

{%- if not vdc.inschrijvingenOpen -%}
<div class="alert warn">
  <h2><i class="fa-solid fa-ban"></i> Inschrijvingen nog niet geopend</h2>
  <p>Inschrijvingen voor {{ vdc.lidjaar.start }}-{{ vdc.lidjaar.einde }} zijn nog niet mogelijk.</p>
</div>
{%- else -%}
{%- include "registration_form.njk" -%}
{%- endif -%}
