@media (max-width: $on-small) {
    #calendar {
        display: none;
    }
}

@media (min-width: $on-small) {
    #calendar-mobile {
        display: none;
    }
}

#calendar-mobile {
    .event-template {
        display: none;
    }

    .event-block {
        margin-bottom: 25px;
    }

    .event-date-block {
        background-color: $primary_color;
        color: white;
        padding: 5px 15px;
        text-align: center;
        font-size: 1.1em;
        font-weight: bold;
    }
    .event-title {
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 5px;
        font-size: 1em;
        font-weight: bold;
    }

    .event-time {
        font-size: 0.85em;
        display: block;
    }

    .event-details {
        padding-left: 15px;
        font-size: 1em;
    }
}
