.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 280px;
    grid-gap: 15px;
    height: auto;

    @media (max-width: calc($on-medium / 2)) {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: initial;
        grid-gap: 15px;
    }

    @media (max-width: calc($on-small / 2)) {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: initial;
        grid-gap: 15px;
    }
}

.gallery-item {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    &.no-lightbox {
        &:hover {
            box-shadow: none;
        }
    }

    &:hover {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    }

    @media (max-width: calc($on-small / 2)) {
        margin-left: -40px;
        margin-right: -40px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    }
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

//
// lightbox
//
[id^="lightbox-"] {
    &:target {
        opacity: 1;
        pointer-events: inherit;
        img {
            filter: blur(0);
        }
    }
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(black, 0.5);
    display: flex;
    opacity: 0;
    transition: opacity 450ms ease-in-out;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    .imgcontent {
        max-width: 90%;
        position: relative;
        color: #fff;
        &:hover > a.close {
            opacity: 1;
            transform: scale(1, 1);
        }
        &:hover > .title {
            opacity: 1;
            transform: translateY(-3px); //Fix extra line at end
            &::after {
                opacity: 1;
            }
        }
        & > * {
            transition: all 450ms ease-in-out;
        }
    }
    img {
        max-height: 90vh;
        max-width: 100%;
        margin: 0;
        padding: 0;
        filter: blur(50px);
    }
    a.close {
        width: 2em;
        height: 2em;
        position: absolute;
        right: 0;
        top: 0;
        background-color: rgba(black, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(0, 0);
        opacity: 0;
        transform-origin: right top;
        text-decoration: none;
        color: #fff;
        &::after {
            content: "X";
        }
    }
}
