/* Posts list */
.postlist {
    list-style: none;
    padding: 0;
    font-size: 120%;
    display: grid;
}
.postlist-item {
    margin-bottom: 1em;
    display: inline-flex;
}
.postlist-date,
.postlist-item:before {
    font-size: 0.8125em; /* 13px /16 */
    color: rgb(158, 158, 158);
    display: block;
}
.postlist-date {
    word-spacing: -0.5px;
}
.postlist-link {
    padding-bottom: 0.15em;
    display: inline-block;
    font-size: 130%;
    font-weight: bolder;
    
    @media (max-width: $on-small) {
        font-size: 110%;
    }
}
.postlist-item-active .postlist-link {
    font-weight: bold;
}
.home .postlist-link {
    font-size: 1.1em; /* 19px /16 */
    font-weight: 700;
}
.postlist-description {
    font-style: italic;
    font-size: 14px;
    display: block;
    p {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}
.postlist-content {
    float: right;
    display: inline;
}
img.postlist-image {
    width: 4em;
    margin-top: 0.3em;
    display: inline;
    height: 4em;
    border-radius: 0.5em;
    background-color: white;
    float: left;
    margin-right: 1em;
}

.row.post {
    height: auto;
}