.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    background-color: #fff;
}

.custom-table th, .custom-table td {
    border: 1px solid #dee2e6;
    padding: 0.75rem;
    vertical-align: middle;
    text-align: left;
}

.custom-table thead th {
    background-color: #f8f9fa;
}

.custom-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table.documents {
    width: 100%;
    border-collapse: collapse;
}

table.documents thead {
    background-color: $primary_color;
    color: white;
}

table.documents tbody tr:nth-child(even) {
    background-color: lightgray;
}

table.documents th,
table.documents td {
    padding: 10px;
    border: none;
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    text-align: left;
}

table.documents td.bold {
    font-weight: bold;
}

@media (max-width: $on-small) {
    table.documents th.optional,
    table.documents td.optional {
        display: none;
    }
}