@charset "utf-8";

$on-small:        1100px !default;
$on-medium:         1400px !default;

$primary_color: #001f75;
$secondary_color: #009b1a;

$color_text: #333;
$color_link: #007bff;

$base_url: "";

@import "includes/typography";
@import "includes/normalize";
@import "includes/grid";
@import "includes/images";
@import "includes/alert";
@import "includes/mobile";

@import "components/table";	
@import "components/header";
@import "components/posts";
@import "components/footer";
@import "components/jumbotron";
@import "components/navigation";
@import "components/button";
@import "components/gallery";
@import "components/calendar";
@import "components/sidebar";
@import "components/tags";

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

div.page-wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.main {
  overflow-x: auto;
}

.content {
  flex: 1 auto;
}

h2.subtitle {
  color: black;
  text-transform: none;
  width: 100%;
  font-size: 2em;
  margin-top: 0.05em;
  text-align: center;

  @media (max-width: $on-small) {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

.sponsor-image {
  width: 450px;
}

p.note {
  font-style: italic;
  font-size: 1em;
  text-align: justify;
}

p.description {
  font-size: 1.15em;
}

#app {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}