<footer>
    <div class="footer-image"></div>
    <div class="container">
        <div class="info">
            <span class="copyright">&copy; VUB Diving Center 2024</span>
            <div class="middle">
                <a href="/privacy-policy">Privacybeleid</a>
                <a href="/contact">Contact</a>
                <a href="/sponsors">Sponsors</a>
            </div>
        </div>
        <ul>
            <li>
                <a href="https://www.facebook.com/vubdivingcenter">
                    <span class="fa-stack fa-lg" aria-hidden="true">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-brands fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="sr-only">Facebook pagina</span>
                </a>
            </li>
            <li>
                <a href="mailto:info@vubdivingcenter.be">
                    <span class="fa-stack fa-lg" aria-hidden="true">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="sr-only">E-mail</span>
                </a>
            </li>
            <li>
                <a href="tel:0032472240970" title="Phone">
                    <span class="fa-stack fa-lg" aria-hidden="true">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="sr-only">Telefoon</span>
                </a>
            </li>
        </ul>
    </div>
    <script src="/scripts/main.js?version=20230921"></script>
</footer>
