<ol reversed class="postlist">
{% for post in postslist | reverse %}
  <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    {% if post.image %}
    <img class="postlist-image" alt="{{ post.data.title }}" src="{{ post.data.thumbnail }}"/>
    {% endif %}
    <div class="postlist-content">
      <a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
      <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      <div class="postlist-description">
        {% excerpt post %}
        {% if post.content != post.excerpt %}
          <a href="{{ post.url }}" class="post-read-more">[Lees&nbsp;verder]</a>
        {% endif %}
      </div>
    </div>
  </li>
{% endfor %}
</ol>