<!DOCTYPE html>
<html lang="nl-be">
  <!-- VUB Diving Center Theme - Copyright Maxim Van de Wynckel -->
  {% include "head.njk" %}

  <body>
    {% include "header.njk" %}
    {% include "sidebar.njk" %}

    <section class="content" id="content">
      {% if subtitle and not header_large %}
      <h2 class="subtitle">{{ subtitle }}</h2>
      {% endif %}
      {{ content | safe }}
    </section>

    {% include "footer.njk" %}
  </body>
</html>
