---
layout: default.njk
site_title: 'Nieuws'
---

<div class="container main">
  <div class="row">
    <div class="col-sm-2">
      {% include "blog_menu.njk" %}
    </div>
    <div class="col-sm-10 typography">
      <h1>{{ title }}</h1>
      {{ content | safe }}

      {% if images %}
        <div class="gallery post">
          {%- for photo in images -%}   
              <figure id="figure-{{ images.indexOf(photo) }}" class="gallery-item no-lightbox">
                <img alt="{{ photo }}" referrerpolicy="no-referrer" src="{{ photo }}" class="gallery-img">
              </figure>
          {%- endfor -%}
        </div>
      {% endif %}

      <hr>
      <ul>
        {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
        {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
        {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
        {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
      </ul>
    </div>
  </div>
</div>
