---
layout: main
title: Kalender
subtitle: 
background: https://lh3.googleusercontent.com/WnOS8K4-loEnfWON7hw560NIZUkxurveC10MVXXHZjNygkSlqVLS1GbARwHsfSr0p8xGq7fXs47LKCwTMzU2TY3KM9w8Qj_6bo3sM9e5TrBAiMEWzjUPeV_gEZHzMq64MVlKMwKHrzw
permalink: /calendar/index.html
eleventyNavigation:
    key: Kalender
    parent: Leden
    order: 3
---
<script src="/scripts/vendor/dhtmlxscheduler.js" ></script>
<link rel="stylesheet" href="/css/vendor/dhtmlxscheduler.css" type="text/css">

<p>
	Deze kalender bevat belangrijke evenementen voor het VDC zoals clubduiken, vakanties, duikweekends, vergaderingen en trainingen.
</p>

{% set calendar = "webcal://www.vubdivingcenter.be/calendar.ics" %}
<div class="dropdown" style="margin-bottom: 1.5em">
	<button class="btn btn-grey dropdown-toggle" type="button" id="calendarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="fa fa-solid fa-calendar"></i> Importeer kalender
	</button>
	<div class="dropdown-menu" aria-labelledby="calendarDropdown">
		<a class="dropdown-item" target="_blank" href="https://www.google.com/calendar/render?cid={{ calendar | urlencode }}"><i class="fa fa-brands fa-google"></i> Google Calendar</a>
		<a class="dropdown-item" target="_blank" href="https://outlook.live.com/owa/?path=/calendar/action/compose&rru=addsubscription&name=VDC%20Calendar&url={{ calendar | urlencode }}"><i class="fa fa-brands fa-microsoft"></i> Outlook</a>
		<a class="dropdown-item" target="_blank" href="https://outlook.office.com/owa/?path=/calendar/action/compose&rru=addsubscription&name=VDC%20Calendar&url={{ calendar | urlencode }}"><i class="fa fa-brands fa-microsoft"></i> Office 365</a>
		<a class="dropdown-item" target="_blank" href="{{ calendar }}"><i class="fa fa-solid fa-calendar"></i> Importeer lokaal</a>
	</div>
</div>
<a href="/docs/calendar" class="btn btn-info" style="margin-left: 1em;">Instructies</a>

<div id="calendar" class="dhx_cal_container" style='width:100%; height:100vh;'>
	<div class="dhx_cal_navline">
		<div class="dhx_cal_prev_button">&nbsp;</div>
		<div class="dhx_cal_next_button">&nbsp;</div>
		<div class="dhx_cal_today_button"></div>
		<div class="dhx_cal_date"></div>
	</div>
	<div class="dhx_cal_header"></div>
	<div class="dhx_cal_data"></div>
</div>

<div id="calendar-mobile">
	<div class="event-template">
		<div class="event-block">
			<div class="event-date-block">
				<span class="event-date"></span>
				<span class="event-time"></span>
			</div>
			<div class="event-title"></div>
			<div class="event-details"></div>
		</div>
	</div>
</div>

<script>
	scheduler.plugins({
		recurring: true, 
		quick_info: true, 
		serialize: true, 
		url: true,
	});
	scheduler.skin = "material";
	scheduler.config.readonly = true;
	scheduler.config.icons_select = [];
	scheduler.config.responsive_lightbox = true;
	scheduler
		.i18n
		.setLocale("nl");
	scheduler.init('calendar', new Date(), "month");
	scheduler.load('{{ "/calendar.json" | htmlBaseUrl }}');

	scheduler.attachEvent("onLoadEnd", function () {
		const template = document.querySelector('#calendar-mobile .event-template');
		const container = document.getElementById('calendar-mobile');
		const currentDate = new Date();
		const data = scheduler.getEvents(currentDate, new Date(currentDate.getFullYear() + 1, 0, 0));

		data
			.sort((a, b) => a.start_date > b.start_date ? 1 : -1)
			.filter(event => event.end_date > currentDate)
			.forEach(event => {
				const start = event.start_date;
				const end = event.end_date;
				// TODO: Ugly code
				const title = event.text, details = event.details;
				let dateStr = "";
				let timeStr = "";
				const dateOptions = {
					weekday: 'long',
					year: 'numeric',
					month: 'long',
					day: 'numeric'
				};

				const startStr = start.toLocaleString("nl-BE", dateOptions);
				const endStr = end.toLocaleString("nl-BE", dateOptions);
				if (startStr !== endStr) {
					dateStr = startStr + " - " + endStr;
				} else {
					dateStr = startStr;
				}

				if (start.getHours() !== 0 && end.getHours() !== 23) {
					timeStr = `${start.getHours().toString().padStart(2, '0')}:${start.getMinutes().toString().padStart(2, '0')} - ${end.getHours().toString().padStart(2, '0')}:${end.getMinutes().toString().padStart(2, '0')}`;
				}
		
				const clone = template.cloneNode(true);
				clone
					.querySelector('.event-title')
					.innerHTML = title;
				clone
					.querySelector('.event-date')
					.innerHTML = dateStr;
				clone
					.querySelector('.event-time')
					.innerHTML = timeStr;
				clone
					.querySelector('.event-details')
					.innerHTML = details;
				container.innerHTML = container.innerHTML + clone.innerHTML;
			});
	});
</script>
