---
layout: main
title: Contact
subtitle: De maatschappelijke zetel van het VUB Diving Center vzw
background: contact.jpg
eleventyNavigation:
    key: Contact
    order: 5
---

<div class="row">
    <div class="col-sm-6">
        {% markdown %}
        VUB Diving Center vzw \
        c/o Oudstudentenbond VUB (OSB)  
        Triomflaan 40  
        1160 Oudergem  
        België
        
        Ondernemingsnummer: 876.441.421
        {% endmarkdown %}
    </div>
    <div class="col-sm-6">
        {% markdown %}
            **E-mail:** <info@vubdivingcenter.be>\
            **Tel:** +32 472 24 09 70
        {% endmarkdown %}
    </div>
</div>

